@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p>This app created like test authentication app for super secret commercial project.</p>
</div>
