@model Core.ViewModels.UserViewModel

@{
    const string DEFAULT_USER_ROLE = "user";
    const string ADMIN_USER_ROLE = "admin";

    void SetRequestData(UserViewModel user, string roleName)
    {
        ViewBag.UserId = user.Id;
        ViewBag.RoleName = roleName;
    }
}

<div class="row">

    <div class="col-lg-3 col-md-6 col-sm-6">
        <h2>Admin dashboard</h2>
    </div>

    <div class="col-lg-9 col-md-6 col-sm-6">
        <a class="btn btn-primary" asp-action="Profile" asp-controller="Accounts">Profile</a>
        <a class="btn btn-outline-primary" asp-action="SignOut" asp-controller="Accounts">Sign out</a>
    </div>

    <div class="col-lg-6 col-md-8 col-sm-12 mt-3">
        <h5 class="mb-5">All users</h5>

        @foreach (UserViewModel user in ViewBag.Users)
        {
            @if (user.Email == Model.Email)
            {
                continue;
            }
            else
            {
                <div class="card-body jumbotron">
                    <div class="card-title">
                        <strong>Id</strong> : @user.Id
                    </div>
                    <div class="card-subtitle">
                        <strong>Email</strong>: @user.Email
                    </div>
                    <div class="card-subtitle">
                        <strong>Password</strong>: @user.Password
                    </div>
                    <div class="card-subtitle">
                        <strong>Role</strong>: @user.RoleName
                    </div>
                    <form asp-action="ModifyRole" asp-controller="Accounts" method="post">
                        @if (user.RoleName == DEFAULT_USER_ROLE)
                        {
                            SetRequestData(user, ADMIN_USER_ROLE);
                            <input class="btn btn-outline-info" type="submit" value="Boost to admin" />
                        }
                        @if(user.RoleName == ADMIN_USER_ROLE)
                        {
                            SetRequestData(user, DEFAULT_USER_ROLE);
                            <input class="btn btn-outline-warning" type="submit" value="Downgrade to user" />
                        }
                    </form>

                </div>
            }
        }
    </div>

</div>



