@model Core.ViewModels.UserViewModel

@{
    Layout = "_Layout";
    ViewBag.PageTitle = "Admin dashboard";


    const string DEFAULT_USER_ROLE = "user";
    const string ADMIN_USER_ROLE = "admin";

}

<div class="row">

    <div class="col-lg-3 col-md-6 col-sm-6">
        <h2>Admin dashboard</h2>
    </div>

    <div class="col-lg-9 col-md-6 col-sm-6">
        <a class="btn btn-primary" asp-action="Profile" asp-controller="Accounts">Profile</a>
        <a class="btn btn-outline-primary" asp-action="SignOut" asp-controller="Accounts">Sign out</a>
    </div>

    <div class="col-lg-6 col-md-8 col-sm-12 mt-3">
        <h5 class="mb-5">All users</h5>

        @foreach (UserViewModel user in ViewBag.Users)
        {
            @if (user.Email == Model.Email)
            {
                continue;
            }
            else
            {
                <div class="card-body jumbotron">
                    <div class="card-title">
                        <strong>Id</strong> : <span class="user-id">@user.Id</span>
                    </div>
                    <div class="card-subtitle">
                        <strong>Email</strong>: @user.Email
                    </div>
                    <div class="card-subtitle">
                        <strong>Password</strong>: @user.Password
                    </div>
                    <div class="card-subtitle">
                        <strong>Role</strong>: @user.RoleName
                    </div>
                    <p>
                        @if (user.RoleName == DEFAULT_USER_ROLE)
                        {
                            <button class="btn btn-info boost">Boost to admin</button>
                        }
                        @if (user.RoleName == ADMIN_USER_ROLE)
                        {
                            <button class="btn btn-secondary downgrade">Downgrade to user</button>
                        }
                    </p>
                </div>
            }
        }
    </div>

</div>

@section Scripts
{
    <script src="~/js/ModifyUserRoleViewModel.js"></script>
    <script src="~/js/adminDashboard.js"></script>
}




