@model Core.ViewModels.UserViewModel

<div class="row">

    <div class="col-lg-4 col-md-6 col-sm-6">
        <h2>Admin dashboard</h2>
    </div>

    <div class="col-lg-8 col-md-6 col-sm-6">
        <a class="btn btn-outline-primary" asp-action="SignOut" asp-controller="Accounts">Sign out</a>
        <a class="btn btn-primary" asp-action="Profile" asp-controller="Accounts">Profile</a>
    </div>

    <div class="col-12">
        <h5>All users</h5>

        @foreach (UserViewModel user in ViewBag.Users)
        {
    <div class="card-body">
        <div class="card-title">
            Id: @user.Id
        </div>
        <div class="card-subtitle">
            Email: @user.Email
        </div>
        <div class="card-subtitle">
            Password: @user.Password
        </div>
        <div class="card-subtitle">
            Role: @user.RoleName
        </div>
    </div>
        }
    </div>

</div>



